/* auth pages Css  */
.auth-section {
	min-height: 100vh;
	padding: 120px 0;
	background: radial-gradient(
		circle,
		rgba(42, 123, 155, 0.5) 0%,
		rgba(221, 31, 41, 0.175) 0%,
		rgba(221, 31, 41, 0) 70%
	);
	position: relative;
}
.auth-section .container {
	position: relative;
	z-index: 1;
}
.form-wrapper {
	position: relative;
	padding: 40px;
	background: linear-gradient(
		135deg,
		rgba(42, 123, 155, 1) 0%,
		rgba(215, 0, 44, 1) 0%,
		rgba(215, 0, 0, 1) 0%,
		rgba(32, 25, 23, 1) 0%,
		rgba(16, 12, 11, 1) 100%
	);
	border: 1px solid #342c2a80;
	border-radius: 8px;
	overflow: hidden;
}
.auth____google____btn {
	color: var(--primary-color);
	background: transparent;
	border-color: #24211d;
	box-shadow: none;
}
.signup____check {
	border: 1px solid var(--secondary-color);
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--secondary-color);
}
.email____input i {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
	color: #8c8c8c;
	z-index: 2;
}
.otp____input {
	height: 64px;
	padding: 0;
}
.passowrd_____checklist .password-check {
	width: 18px;
	height: 18px;
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.25);
	cursor: pointer;
}
.passowrd_____checklist .password-check:checked {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}
.passowrd_____checklist .password-check:focus {
	box-shadow: none;
	border-color: var(--secondary-color);
}
.passowrd_____checklist .form-check-label {
	cursor: pointer;
}
/* profile page Css  */
.profile-tabs .nav-pills .nav-link.active {
	background: linear-gradient(
		135deg,
		rgba(215, 0, 44, 1) 0%,
		rgba(246, 84, 0, 1) 50%,
		rgba(247, 184, 40, 1) 100%
	);
	color: var(--extra-color-2);
	border: 0;
	border-radius: 6px;
}
.profile-tabs .nav-pills .nav-link.active img.img-fluid {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%)
		hue-rotate(356deg) brightness(107%) contrast(108%);
}
.profile-tabs .nav-pills .nav-link {
	padding: 15px 20px;
}
.sidebar____wrapper .nav-item {
	margin: 0px 15px;
}
.profile-tabs .nav-pills .nav-link:hover {
	color: var(--secondary-color);
}
/* .profile____top {
	min-height: 95px;
} */
.profile______wrapper {
	min-height: 160px;
}
.profile-user-img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}
.profile-user-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profile-divider {
	margin: 2rem 0;
	background: #ffffff15;
	opacity: 1;
}
.shipped____badge {
	border: 1px solid #6e350d;
}
.order______btn {
	font-size: 10px;
	font-family: var(--sub-font);
	letter-spacing: 2.16px;
	color: var(--extra-color-7);
	border-color: #342c2a;
	background: transparent;
	box-shadow: none;
}
.deliverd____badge {
	color: #4cb86a;
	border: 1px solid #295132;
}
.process____badge {
	color: #f8bd40;
	border: 1px solid #6d5321;
}
.profile______wrapper.active {
	border-color: #ebaa2d;
}
.orders______list {
	--bs-table-bg: transparent;
	--bs-table-color: inherit;
	margin-bottom: 0;
}
.orders______list td {
	padding: 22px 28px;
	vertical-align: middle;
	border-color: rgba(255, 255, 255, 0.12);
}
.orders______list tbody tr:last-child td {
	border-bottom: 0;
}
.orders______list tbody tr {
	transition: 0.3s;
}
.orders______list tbody tr:hover {
	background: rgba(255, 255, 255, 0.02);
}
.orders______id {
	width: 180px;
	white-space: nowrap;
}
.orders______status {
	width: 230px;
	white-space: nowrap;
}
.orders______price {
	width: 140px;
	white-space: nowrap;
}
.orders______list {
	--bs-table-bg: transparent;
	--bs-table-color: inherit;
	--bs-table-border-color: rgba(255, 255, 255, 0.12);
}
.orders______list th,
.orders______list td {
	padding: 18px 22px;
	vertical-align: middle;
}
.orders______list thead th {
	font-weight: normal;
	border-bottom-color: #454545 !important;
}
.orders______list tbody tr:last-child td {
	border-bottom: 0;
}
.order____table____top {
	border-bottom: 1px solid #454545;
}
.order____table____bottom {
	border-top: 1px solid #454545;
}
/* profile page Css  */
