# Enable mod_rewrite
RewriteEngine On

# Custom 404
ErrorDocument 404 /404.php

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]